section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
.create-question {
  margin-bottom: 20px;
}
.question-create-title {
  width: 100%;
}
.point-alert {
  width: 300px;
}
.question-title {
  padding-left: 4px;
  cursor: pointer;
}
.accordion {
  display: none;
}
.party-delete {
  text-align: center;
}
.question-score {
  text-align: center;
}
th {
  text-align: center;
}
.question-score-list {
  margin-top: 10px;
}
