.yourresult-content {
  border: solid 2px #ff8433;
  border-radius: 5px;
}
.each-party-yourresult {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  max-width: 90%;
}
.party-name {
  float: left;
  display: inline-block;
  margin-right: 10px;
  line-height: 30px;
  height: 30px;
}
.point-bar {
  float: left;
  display: inline-block;
  background-color: #32b2e1;
  text-align: right;
  padding-right: 5px;
  width: 0px;
  height: 30px;
  line-height: 30px;
}
