container_commands:
  11-npm_install_build:
    command: cd frontend && npm install -g npm@4.0.5 && npm install && npm run release
  21-bundle_install:
    command: bundle install --path vendor/bundle
  22-db_migrate:
    command: bundle exec rake db:migrate
  23-assets_precompile:
    command: bundle exec rake assets:precompile
  24-chown:
    command: chown -R webapp:webapp ./
