<div class="yourresult-content">
  <% @your_results.each do |result| %>
    <div class="each-party-yourresult clearfix">
      <div class="party-name"><%= result[:party].name  %></div>
      <div class="party-point-wrap">
        <div class="point-bar j__party_<%= result[:party].id %>">
          <div class="point-num"><%= number_to_percentage(result[:percent], precision: 0) %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
