<div class="container">
  <h3>質問一覧</h3>
  <table class="table">
    <tr>
      <th>質問名</th>
      <th>使われているボートマッチ</th>
    </tr>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.title, mypage_question_path(question) %></td>
        <td>
          <% question.question_sets.each do |set| %>
            <div><%= link_to set.title, mypage_question_set_path(set) %></div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
