.question-set-title {
  font-size: 3rem;
  margin-bottom: 20px;
}
.questions-container {
  position: relative;
}
.question-content {
  background-color: #ffffff;
  border: solid 2px #ff8433;
  border-radius: 5px;
  text-align: center;
  width: 60%;
  min-width: 500px;
  margin: auto;
  margin-bottom: 20px;
}
.question-title-show {
  padding: 10px;
  font-size: 2rem;
}
.question-choices {
  display:inline-block;
  font-size: 1.6rem;
  background-color: #ffffff;
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
}
.question-title-style {
  display: inline-block;
  text-align: left;
}
.question-agree {
  margin-right: 30px;
  border: solid 2px #ed422f;
  cursor: pointer;
}
.question-agree-click {
  margin-right: 30px;
  color: #ffffff;
  background-color: #ed422f;
  border: solid 2px #ed422f;
  transition: 0.15s;
}
.question-neutral {
  margin-right: 30px;
  border: solid 2px #1aad59;
  cursor: pointer;
}
.question-neutral-click {
  margin-right: 30px;
  color: #ffffff;
  background-color: #1aad59;
  border: solid 2px #1aad59;
  transition: 0.15s;
}
.question-opposition {
  border: solid 2px #1da0e4;
  cursor: pointer;
}
.question-opposition-click {
  color: #ffffff;
  background-color: #1da0e4;
  border: solid 2px #1da0e4;
  transition: 0.15s;
}
.questions-container > form > button, .questions-container > form > button:hover {
  display: block;
  background-color: #fff;
  border: solid 2px #ff8433;
  border-radius: 5px;
  cursor: pointer;
  width: 250px;
  padding: 10px;
  margin: auto;
  margin-top: 30px;
}
.questions-container > form > button:hover {
  color: #fff;
  background-color: #ff8433;
  box-shadow: 2px 2px #d67011;
}
